@media only screen and (max-width: 375px){
    body{
        width: 90%;
        max-width: 370px;
        justify-content: center;
    }
    .cards{
        max-width: 370px;
        margin-bottom: 10px;
    }
    img{
        width: 360px;
    }
    .anad{
        width: 360px;
        height: auto;
    }
}
@media only screen and (min-width: 760px){
    body{
        justify-content: center;
    }
    .cards{
        margin: 0px 0px 10px 0px;
        max-width: 90%;
    }
    img{
        width: 360;
    }
}
@media only screen and (min-width: 1000px){
    body{
        justify-content: center;
    }
    .cards{
        margin: 0px 10px 10px 0px;
        max-width: 90%;
    }
    img{
        width: 380px;
        height: 120px;
    }
    .anad{
        width: 300px;
        height: 250px;
    }
}
.cards{
    min-width: 30%;
    height: 435px;
    max-width: 100%;
    display:inline-flex;
}
a{
    color:white;
    font-size: 12px;
}
.PostCard{
    background-color: #0D1321;
    color: #F0EBD8;
    border-radius: 12px;
    width: 400px;
}
#myDropdown{
    text-align: left;
    color: #F0EBD8;
    margin: 10px;
    padding-right: 10px;
    padding: 5px;
    border-radius: 12px;
    max-height: 180px;
    overflow: hidden;
}
#myDropdown:hover{
    overflow: auto;
}

ul{
    list-style: none;
}
img{
    text-indent:-9999px;
    height: 120px;
    margin-top: 10px;
    border-radius: 5px;
}
#email{
    font-size:smaller;
}
.categoryTable{
    max-width: 100%;
    margin-top: 20px;
}
.page{
    padding-top: 180px;
}
p{
    margin: 0px;
}
#ad{
    background-color: white;
    color: white;
}
#premium{
    background-color:darkblue;
}