.cards{
    height: 100%;
    margin: 20px;
    display:inline-flex;
}
.PostCard{
    background-color: silver;
    margin: 10px;
    height: fit-content;
}
.description{
    background-color: whitesmoke;
    margin: 10px;
    height: fit-content;
}
ul{
    list-style: none;
}
img{
    text-indent:-9999px;
    width: 202px;
}
#email{
    font-size:smaller;
}
.categoryTable{
    columns: 4 auto;
}