.cards{
    height: 435px;
    margin: 10px;
    display:inline-flex;
}
a{
    color:#8b9fbb;
    font-size: 12px;
}
.PostCard{
    background-color: #0D1321;
    color: #F0EBD8;
    border-radius: 12px;
    margin: 10px;
    width: 400px;
}
#myDropdown{
    text-align: left;
    color: #F0EBD8;
    margin: 10px;
    padding-right: 10px;
    padding: 5px;
    border-radius: 12px;
    max-height: 180px;
    overflow: hidden;
}
#myDropdown:hover{
    overflow: auto;
}

ul{
    list-style: none;
}
img{
    text-indent:-9999px;
    min-height: 120px;
    height: 120px;
    width: 380px;
    margin-top: 10px;
    border-radius: 5px;
}
#email{
    font-size:smaller;
}
.categoryTable{
    padding-top: 360px;
    /* columns: 3 auto; */
}
p{
    margin: 0px;
}
.anad{
    height: 300px;
    width: 380px;
}
#ad{
    background-color: white;
    color: white;
}
#premium{
    background-color:darkblue;
}