@media only screen and (max-width: 375px){
    .banner{
        height: auto;
        width: 360px;
    }
    .CSBody{
        max-width: 375px;
    }
}
@media only screen and (min-width: 760px){
    .banner{
        height: auto;
        width: 600px;
    }
    .selection{
        width: 100%;
    }
}
@media only screen and (min-width: 1000px){
    .banner{
        height: auto;
        width: 750px;
    }
    .selection{
       width: fit-content;
       margin-left: 30%;
    }
    .tbody{
        margin-left: 30%;
    }
}
.CSBody{
    background-color: white;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.CSMain{
    max-width: 100%;
    margin-bottom: 20px;
}
td{
    border: 1px solid #999;
    background-color: #1D2D44;
    padding: 0.5rem;
}
td:hover{
    background-color: #0D1321;
}
.home{
    background-color: blue;
}
.ad1{
    width: 400px;
    height: 300px;
    margin: 5px;
}
.Box{
    color: white;
    background-color: #1D2D44;
    border: black solid 2px;
    position: relative;
    display: inline-block;
    padding: 3px;
}
.selection{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;  
}
.untable:hover .selection{
    display: block;
}