.CSBody{
    margin-left: 10px;
    margin-right: 10px;
}
.CSMain{
    max-width: 100%;
    margin-bottom: 20px;
}
td{
    border: 1px solid #999;
    background-color: #1D2D44;
    padding: 0.5rem;
}
td:hover{
    background-color: #0D1321;
}
.banner{
    width: 1000px;
    height: 100px;
}
.ad1{
    width: 400px;
    height: 300px;
    margin: 5px;
}